<ion-header>
  <ion-toolbar>
    <ion-title>{{isUpdating ? 'Edit' : 'Add'}} Recipe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <label>Cancel</label>
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSaveRecipe()">
    <ion-row>
      <ion-col [ngClass]="{'hide' : step !== 1}">
        <h2>General</h2>
        <ion-list>
          <ion-item counter="true">
            <ion-label position="floating">Recipe name</ion-label>
            <ion-input
              id="name"
              formControlName="name"
              maxlength="56"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Servings amount</ion-label>
            <ion-input
              id="servings"
              formControlName="servings"
              inputmode="numeric"
              type="number"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Time to cook (minutes)</ion-label>
            <ion-input
              formControlName="time"
              inputmode="numeric"
              type="number"
            ></ion-input>
          </ion-item>
          <ion-item counter="true">
            <ion-label position="floating">Instructions</ion-label>
            <ion-textarea
              maxlength="1024"
              formControlName="instructions"
            ></ion-textarea>
          </ion-item>
        </ion-list>
        <div class="buttons">
          <ion-button
            expand="block"
            color="primary"
            (click)="nextStep()"
            [disabled]="!form.get('name')?.valid"
            >Next</ion-button
          >
        </div>
      </ion-col>
      <ion-col [ngClass]="{'hide' : step !== 2}">
        <h2>Image</h2>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Image URL</ion-label>
            <ion-input id="image" formControlName="image"></ion-input>
          </ion-item>
        </ion-list>
        <div class="buttons">
          <ion-button expand="block" color="primary" (click)="nextStep()"
            >Next</ion-button
          >
          <ion-button expand="block" color="light" (click)="previousStep()"
            >Back</ion-button
          >
        </div>
      </ion-col>
      <ion-col [ngClass]="{'hide' : step !== 3}">
        <h2>Ingredients</h2>
        <ion-list formArrayName="ingredients" *ngIf="ingredientList.length > 0">
          <ion-item *ngFor="let ingredient of ingredientList, let i = index">
            {{ingredient.amount}} {{ingredient.unit}} {{ingredient.ingredient}}
            <ion-buttons slot="end">
              <ion-button (click)="onEditIngredient(i, ingredientList[i])">
                <ion-icon slot="icon-only" name="create-outline"> </ion-icon>
              </ion-button>
              <ion-button (click)="onDeteleIngredient(i)">
                <ion-icon slot="icon-only" name="trash-outline" color="danger">
                </ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
        <p *ngIf="ingredientList.length === 0">No ingredients added</p>
        <ion-button expand="block" color="dark" (click)="onAddIngredient()"
          >Add ingredient</ion-button
        >
        <div class="buttons">
          <ion-button
            expand="block"
            color="primary"
            type="submit"
            [disabled]="!form.valid"
            >Save Recipe</ion-button
          >
          <ion-button expand="block" color="light" (click)="previousStep()"
            >Back</ion-button
          >
        </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
