ion-header {
  .page-title {
    ion-button {
      margin: 0;
      position: absolute;
      height: 3rem;
      width: 3rem;
    }
  }
}

ion-content {

  ion-list {
    padding: 0;
    margin-bottom: 1.5rem;
  }

  ion-item {
    --padding-start: 0;
    --inner-border-width: 0;
    --inner-padding-end: 0;
    --min-height: auto;
    --padding-bottom: 8px;
    --padding-top: 8px;
    border-top: 1px solid var(--gray-200);
    color: var(--gray-900);
    font-size: 0.875rem;

    strong {
      font-weight: 500;
      color: var(--gray-500);
    }

    ion-button {
      --padding-start: 0.75rem;
      --padding-end: 0;
      height: 2rem;
      margin-inline-start: 0;
      margin-inline-end: 0;
    }
  }
}

.image {
  width: 8.5rem;
  height: 8.5rem;
  filter: drop-shadow(0.25rem 0.5rem 1rem rgba(145, 44, 0, 0.4));
}

.centered-content {
  padding-top: 2rem;
  gap: 1rem;
}


