<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item>
      <ion-input type="text" [(ngModel)]="searchTerm" placeholder="Search">
      </ion-input>
      <ion-buttons slot="end" *ngIf="searchTerm">
        <ion-button (click)="clearSearch()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loadedRecipes.length === 0" class="centered-content">
    <ion-img src="../../assets/images/recipes-book.png" class="image"></ion-img>
    <ion-text class="empty-text">You have no<br />
      recipes yet</ion-text>
  </div>


  <ion-list *ngFor="let recipe of loadedRecipes | filter: searchTerm, let i = index">
    <ion-item [routerLink]="['/', 'home', 'recipes', recipe.id]">
      <ion-thumbnail slot="start">
        <ion-img [src]="recipe.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <p>{{recipe.name}}</p>
        <p>{{recipe.time}} minutes</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>