<ion-header>
  <ion-toolbar>
    <ion-title>Your Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let recipe of loadedRecipes"
      [routerLink]="['/', 'home', 'recipes', recipe.id]"
    >
      <ion-thumbnail slot="start">
        <ion-img [src]="recipe.image"> </ion-img>
      </ion-thumbnail>
      <ion-label>
        <p>{{recipe.name}}</p>
        <p>{{recipe.time}} minutes</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
