ion-header {
  ion-button {
    --padding-start: 0.75rem;
    --padding-end: 0;
    height: 3rem;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
  }
}

