<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="recipes">
        <ion-label>Recipes</ion-label>
      </ion-tab-button>
      <div class="add-container">
        <a *ngIf="activeTab === 'recipes'" class="add" [routerLink]="['/', 'home', 'recipes', 'add-item']">
          <img src="../../assets/images/plus-icon.svg" alt="Add recipe">
        </a>
        <a *ngIf="activeTab === 'shopping-list'" class="add" (click)="addShoppingListItem()">
          <img src="../../assets/images/plus-icon.svg" alt="Add shopping item">
        </a>
      </div>
      <ion-tab-button tab="shopping-list">
        <ion-label>Shopping List</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>